#container {
    background-color: aqua;
    height: 100px;
    width: 100px;
}


#container:hover {
    transform: translate(50px, 50px) scale(2) rotate(45deg);
}

#container:active {
    transform: translate(-50px, 50px) scale(0.5) rotate(-45);
}